
<br><br><br>

<div align = center>
  <div style="width:400px;">

<h1 style=" color:rgb(70,70,70); font-size: 30px">회원정보변경</h1>
<hr>


  <%= form_for(:user, url:user_path, method: :patch) do |f| %>

  <table >
    <tr align=center>
      <td  style="width:33%; height:60px; color:rgb(70,70,70); font-size: 24px">이메일

      </td>
      <td><%= f.text_field :email, :value => @host.email, :readonly => true %></td>
    </tr>
    <tr>
      <td colspan=2 align=center style="color:rgb(241,95,95); font-size: 15px;">
        <% if @host.errors[:email].any?%>
              <%= @host.errors[:email] %>
        <% end %>
      </td>
    </tr>
    <tr align=center>
      <td style="width:33%; height:60px; color:rgb(70,70,70); font-size: 24px">비밀번호</td>
      <td><%= f.password_field :password_digest %></td>
    </tr>
    <tr>
      <td colspan=2 align=center style="color:rgb(241,95,95); font-size: 15px;">
        <% if @host.errors[:password_digest].any?%>
              <%= @host.errors[:password_digest] %>
        <% end %>
      </td>
    </tr>
    <tr align=center>
      <td style="width:33%; height:60px; color:rgb(70,70,70); font-size: 24px">이름</td>
      <% if @user != nil && @user.admin %>
        <td> <%= f.text_field :name, :value => @host.name %></td>
      <% else %>
        <td> <%= f.text_field :name, :value => @host.name, :readonly => true %></td>
      <% end %>
    </tr>
    <tr>
      <td colspan=2 align=center style="color:rgb(241,95,95); font-size: 15px;">
        <% if @host.errors[:name].any?%>
              <%= @host.errors[:name] %>
        <% end %>
      </td>
    </tr>
  </table>

    <%= f.submit "적용!", class: "btn btn-large btn-primary"  %><br>
  <% end %>
<hr>


</div>
</div>
