<div align = center  style=" color:rgb(70,70,70); font-size: 20px">
  <h1 style=" color:rgb(50,50,50); font-size: 30px">유저 관리 페이지(관리자 전용)</h1>

  <table border="2">
    <tr>
      <th>id</th>
      <th>name</th>
      <th>email</th>
      <th>password(encrypted)</th>
      <th></th>
    </tr>

    <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.password_digest %></td>
      <td><%= link_to 'edit', edit_user_path(user)%></td>
      <td><%= link_to 'destroy', user_path(user), method: :delete, data: { confirm: '삭제 하시겠습니까?' }%></td>
    </tr>
    <% end %>
  </table>
</div>
