<!DOCTYPE html>
<html>
<style type="text/css">
  html,body { height: 100%; margin: 0px; padding:0px; }
  .menu-div {
    width: 100%;
    height: 60px;
    box-shadow: 0 0 5px 0 gray;
    margin: 0 0 3px 0;
  }

	.logo {
		width:30px;
		height:30px;
		margin: 15px 10px 0 10px;
	}
	.span1box { width: 250px; margin: 18px 15px 0 0; }
	.span1{ }
	.span1_line {
		content: '';
		width: 113px;
		height: 1px;
		display: block;
		position: absolute;
		margin-top: 2px;
		border-bottom: 3px solid rgba( 190, 57, 59, 1 );
	}

	.span11 {
		float: right;
	}
	.login-a:link {
		color: rgba( 0, 0, 0, 1 );
		text-decoration: none;
	}
	.login-a:visited {
		color: rgba( 0, 0, 0, 1 );
		text-decoration: none;
	}
	.login-a:hover {
		color: rgba( 189, 57, 59, 1 );
		text-decoration: none;
	}
	.login-a:active {
		color: rgba( 255, 57, 59, 1 );
		text-decoration: none;
	}
	.logout-a:link {
		color: rgba( 0, 0, 0, 1 );
		text-decoration: none;
	}
	.logout-a:visited {
		color: rgba( 0, 0, 0, 1 );
		text-decoration: none;
	}
	.logout-a:hover {
		color: rgba( 189, 57, 59, 1 );
		text-decoration: none;
	}
	.logout-a:active {
		color: rgba( 255, 57, 59, 1 );
		text-decoration: none;
	}

	.sidemenu {
		width: 110px;
		height: 90px;
		margin: 17px 0 0 28px;
		background-color: rgba( 190, 57, 59, 0.5 );
		position:absolute;
		border:1px solid rgba( 190, 57, 59, 1 );
	}

	.side_logout_div {
		margin: 10px 0 0 25px;
		color : rgba( 255, 255, 255, 1 );
	}
	.side_logout:link {
		color: rgba( 255, 255, 255, 1 );
		text-decoration: none;
	}
	.side_logout:visited {
		color: rgba( 255, 255, 255, 1 );
		text-decoration: none;
	}
	.side_logout:hover {
		color: rgba( 189, 57, 59, 1 );
		text-decoration: none;
	}
	.side_logout:active {
		color: rgba( 255, 57, 59, 1 );
		text-decoration: none;
	}


	.side_myroom_div {
		margin: 10px 0 22px 15px;
		color : rgba( 255, 255, 255, 1 );
	}
	.side_myroom:link {
		color: rgba( 255, 255, 255, 1 );
		text-decoration: none;
	}
	.side_myroom:visited {
		color: rgba( 255, 255, 255, 1 );
		text-decoration: none;
	}
	.side_myroom:hover {
		color: rgba( 189, 57, 59, 1 );
		text-decoration: none;
	}
	.side_myroom:active {
		color: rgba( 255, 57, 59, 1 );
		text-decoration: none;
	}

	.side_line {
		content: '';
		width: inherit;
		height: 1px;
		display: block;
		position: absolute;
		margin-top: -13px;
		border-bottom: 1px solid rgba( 255, 255, 255, 1 );
	}
</style>

<script>
  function gotomain() {
    location.href = "http://localhost:3000/homes";
  }
</script>

<div id="menuBar" class="menu-div">
  <a class="homes-a" href="javascript:void(0);" onclick="gotomain();"><img class="logo" src="/assets/32triangle.png" style="float:left;"></a>

  <script type="text/javascript">
    var sidecheck = false;

    function showside() {
      var sidemenuid = document.getElementById('sidemenubox');

      if(sidecheck == false) {
        sidemenuid.style.display = "";
        sidecheck = true;
      }
      else {
        sidemenuid.style.display = "none";
        sidecheck = false;
      }
    }

  </script>

  <div class="span1box" style="float:right;">
		<% if @user == nil %>
		<div class="span1box2" style="float:right;">
			<span class="span1">
				<a class="login-a" href="/signin">로그인/회원가입</a>
			</span>

			<span class="span1_line"></span>
		</div>

		<% else %>
		<script>
			function gomyroom() {
				var myinfo = "http://localhost:3000/users/" + <%= @user.id %> + "";
				location.href=myinfo;
			}
		</script>
		<span class="span11">
			안녕하세요
			<a class="logout-a" href="javascript:void(0);" onclick="showside();"> <%= @user.name + " 님"%> </a>

			<div id="sidemenubox" class="sidemenu" style="display:none;">
				<div class="side_myroom_div" onclick="gom">
					<a id="sideroom" class="side_myroom" href="javascript:void(0);" onclick="gomyroom();"> 내 정보 보기 </a>
				</div>

				<span class="side_line">
				</span>

				<div class="side_logout_div">
					<a class="side_logout" rel="nofollow" data-method="delete" href="/signout"> 로그아웃 </a>
				</div>
			</div>
		</span>
		<% end %>
  </div>


</div>



<%= form_for :home, url:homes_path, html: { multipart: true } do |f| %>

<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<script src="//apis.daum.net/maps/maps3.js?apikey=ff15f5a24e3b098218c6ab5d4d354689&libraries=services"></script>


<%= f.hidden_field :lat %>
<%= f.hidden_field :lng %>

<head>
    <meta charset="utf-8">
    <style>
       table,tr,td {padding: 5px; width: 900px;font-size: 19px; color: rgb(100,100,100);}
        tr {height: 50px}
    </style>
</head>


  <div align="center">
    <div  style="width:900px;">


      <h1 style="color:rgb(70,70,70); margin-top:50px; margin-bottom:50px; font-size: 35px">호스팅 페이지</h1>
        <h2 align="left" style="color:rgb(80,80,80); font-size: 28px">정보 입력</h2>
        <hr>
        <table>
            <tr>
                <td style="width:33%; color:rgb(70,70,70); font-size: 24px;">
                  타이틀
                  <div style="color:rgb(241,95,95); font-size: 15px;">
                    <% if @home.errors[:title].any? %>
                          <%= @home.errors[:title] %>
                    <% end %>
                  </div>

                </td>
                <td align="center">
		              <%= f.text_field :title, size: "45" %>

                </td>

            </tr>
        </table>
        <hr width="66%" align="right">
        <table>
            <tr>
                <td style="width:33%; color:rgb(70,70,70); font-size: 24px">
                  방 정보
                  <div style="color:rgb(241,95,95); font-size: 15px;">
                    <% if @home.errors[:houseAddress].any? %>
                          <%= @home.errors[:houseAddress] %><br>
                    <% end %>
										<% if @home.errors[:detailedAddress].any? %>
                          <%= @home.errors[:detailedAddress] %>
                    <% end %>
                  </div>
                </td>
                <td style="font-size: 22px">타입</td>
                <td>
                  <%= f.radio_button :housingType, '아파트', :checked => true %>
                   <%= label :housingType_아파트, '아파트' %>
                   <%= f.radio_button :housingType, "원룸" %>
                   <%= label :housingType_원룸, "원룸" %>
                   <%= f.radio_button :housingType, "홈스테이" %>
                   <%= label :housingType_홈스테이, "홈스테이" %>
                </td>
            </tr>
            <tr>
                <td></td>
                <td style="font-size: 22px">주소<br>상세주소</td>
                <td style="height:100px">
                  <%= f.text_field :houseAddress, :readonly => true%>
                  <input type="button" onclick="sample5_execDaumPostcode()" value="주소 검색"><br>
									<%= f.text_field :detailedAddress %>
                </td>
            </tr>
            <tr>
                <td style="width:33%"></td>
                <td colspan="2" align="center"><div id="map" style="width:500px;height:300px;margin-top:10px;"></div></td>

            </tr>
        </table>
        <hr width="66%" align="right">
        <table>
            <tr>
                <td style="width:33%; color:rgb(70,70,70); font-size: 24px">방 요금
                  <div style="color:rgb(241,95,95); font-size: 15px;">
                    <% if @home.errors[:housingDeposit].any?%>
                          <%= @home.errors[:housingDeposit] %>
                    <% end %><br>
                    <% if @home.errors[:monthlyFee].any?%>
                          <%= @home.errors[:monthlyFee] %>
                    <% end %>
                  </div>
                </td>
                <td style="font-size: 22px">보증금</td>
                <td style="font-size: 17px"><%= f.number_field :housingDeposit %> (만원)</td>
            </tr>
            <tr>
                <td></td>
                <td style="font-size: 22px">월세</td>
                <td style="font-size: 17px"><%= f.number_field :monthlyFee %> (만원)</td>
            </tr>
        </table>
        <hr width="66%" align="right">
        <table>
            <tr>
                <td style="width:33%; color:rgb(70,70,70); font-size: 24px"> 사진 업로드
                  <div style="color:rgb(241,95,95); font-size: 15px;">
                    <% if @home.errors[:avatar].any?%>
                          <%= @home.errors[:avatar] %>
                    <% end %><br>
                  </div>

                </td>
                <td> <%= f.file_field :avatar %></td>
            </tr>
        </table>
        <hr width="66%" align="right">
        <table>
            <tr>
                <td style="width:33%; color:rgb(70,70,70); font-size: 24px"> 상세 설명</td>
                <td> <%= f.text_area :otherDescription, size:"32x6" %></td>
            </tr>
        </table>

        <%= f.submit "방 올리기!"%>
        <hr>
    </div>

  </div>



<% end %>


    </body>

    <script>
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new daum.maps.LatLng(37.537187, 127.005476), // 지도의 중심좌표
                level: 5 // 지도의 확대 레벨
            };

        //지도를 미리 생성
        var map = new daum.maps.Map(mapContainer, mapOption);
        //주소-좌표 변환 객체를 생성
        var geocoder = new daum.maps.services.Geocoder();
        //마커를 미리 생성
        var marker = new daum.maps.Marker({
            position: new daum.maps.LatLng(37.537187, 127.005476),
            map: map
        });

        function sample5_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function(data) {
                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var fullAddr = data.address; // 최종 주소 변수
                    var extraAddr = ''; // 조합형 주소 변수

                    // 기본 주소가 도로명 타입일때 조합한다.
                    if(data.addressType === 'R'){
                        //법정동명이 있을 경우 추가한다.
                        if(data.bname !== ''){
                            extraAddr += data.bname;
                        }
                        // 건물명이 있을 경우 추가한다.
                        if(data.buildingName !== ''){
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 조합형주소의 유무에 따라 양쪽에 괄호를 추가하여 최종 주소를 만든다.
                        fullAddr += (extraAddr !== '' ? ' ('+ extraAddr +')' : '');
                    }

                    // 주소 정보를 해당 필드에 넣는다.
                    document.getElementById("home_houseAddress").value = fullAddr;
                    // 주소로 좌표를 검색
                    geocoder.addr2coord(data.address, function(status, result) {
                        // 정상적으로 검색이 완료됐으면
                        if (status === daum.maps.services.Status.OK) {
                            // 해당 주소에 대한 좌표를 받아서
                            var coords = new daum.maps.LatLng(result.addr[0].lat, result.addr[0].lng);

														document.getElementById("home_lat").value = result.addr[0].lat;
														document.getElementById("home_lng").value = result.addr[0].lng;
                            // 지도를 보여준다.
                            mapContainer.style.display = "block";
                            map.relayout();
                            // 지도 중심을 변경한다.
                            map.setCenter(coords);
                            // 마커를 결과값으로 받은 위치로 옮긴다.
                            marker.setPosition(coords)
                        }
                    });
                }
            }).open();
        }
    </script>
</html>
